<html>
    <head>
        <base href="{{ .Url }}/static">
        <link rel="icon" 
              type="image/png" 
              href="/favicon.ico">
    <head>
    <body>
    {{ .Url }}
    <body>
</html>
